{{#each this}}
<div class='country-card'>
    <h2 class='country-title'>{{name}}</h2>
    <div class='country-info'>
            <h3 class="country-list-title"><span>Capital:</span> {{capital}}</h3>
            <img src="{{flag}}" alt="Flag of {{name}}" width="300" />

        <ul class="country-list">
            <li class="country-list-item"><span>Region:</span> {{region}}</li>
            <li class="country-list-item"><span>Population:</span> {{population}}</li>
            <li class="country-list-item"><span>Languages:</span>
                <ul class="country-lang-wrapper">
                {{#each languages}}<li>{{name}}</li>{{/each}}
                </ul>

            </li>
        </ul>
    </div>
    
</div>
{{/each}}